HTML:
        <div class="alert-container">
            <div class="alert alert-danger" role="alert">oopspssssssss</div>
        </div>
        
CSS:
        .alert-container {
          position: fixed;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          background-color: rgba(94, 110, 141, 0.9);
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.3s 0s, visibility 0s 0.3s;
        }
        .alert-container.is-visible {
          opacity: 1;
          visibility: visible;
          transition: opacity 0.3s 0s, visibility 0s 0s;
        }

        .alert-danger {
            max-width: 400px;
            margin: 4em auto;
            transform: translateY(-40px);
            transition-property: transform;
            transition-duration: 0.3s;
        }

        .is-visible .alert-danger {
          transform: translateY(0);
        }

